/* index  style */
body
{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #252727;
  
  
}


.grid-container
{
    height: 100%;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 80vh 40vh 75vh 5vh;
    grid-row-gap: 5vh;
    margin-top: 2vh;
    justify-content: center;
    overflow-x: hidden;
    
}



.crop
{
  display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: white;
  background-image: url("../assets/logo_crop2.png");
  background-size: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

  .content
  {
    border-radius: 15px;
    background-color: whitesmoke;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
  }

.footer
{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  background-color: #252727;
  color: grey;
  text-align: center;
  font-size: 1.5vh;
 
}

.photo
{
  border-radius: 15px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("../assets/yeah-man.jpeg");
  background-size: 75vh;
  background-position: center;
  background-repeat: no-repeat;
}  

@media screen and (max-width: 650px)
{
    .grid-container
    {
       margin-top: 10vh;
    }
}