.about 
{
    max-width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Righteous', cursive;
    background-color: rgba(71, 129, 255, 0.267);
    overflow: hidden;
}